* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: Arial, Helvetica, sans-serif;
 background: #18181b;
 color: lightslategray;

 margin-top: 15rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.titles {
 display: flex;
 gap: 5rem;
 margin-bottom: .5rem;
}

.player,
.cpu {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: .5rem;
}

.title-one,
.title-two {
 border-bottom: 2px solid white;
 padding: .5rem;
 margin-bottom: .5rem;
}

h1:hover {
 color: white;
 cursor: pointer;
}

p {
 color: goldenrod;
}

button {
 border: none;
 border-radius: 2px;
 margin-bottom: .5rem;

 font-weight: bold;
 background: #18181b;
 color: lightslategray;
 width: 150px;
 padding: 15px 0;
 text-transform: uppercase;

 transition: all 500ms ease;
}

button:hover {
 cursor: pointer;
 background: lightslategray;
 color: #18181b;
}